@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap");

/* Index

1. Navbar
2. SearchInput
3.

*/

/* ------------------------------------------ */
/* 1. Navbar */

.navbar_top img {
  padding: 1px;
  height: 40px;
  background-color: white;
  border: 2px black solid;
  margin-right: 15px;
}

#gorilla {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
}

.navbar_top .navbar-brand {
  font-family: "Syncopate", "sans-serif";
}

/* ------------------------------------------ */
/* 2. SearchInput */

.searchbar_container .input-group {
  margin: auto;
  border-radius: 15px;
  padding: 10px;
  width: 60%;
  background-color: rgb(209, 209, 209);
  filter: drop-shadow(1px 1px 2px rgb(20, 20, 20));
}

/* --------------------------------- weather contaziner */
.weather_container {
  margin: auto;
  background-color: #ffff;
  border: solid 10px #d1d1d1;
  padding: 10px;
  width: 50%;
  border-radius: 15px;
}

.nav-item {
  cursor: pointer;
}

#main_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 50%;
  padding: 50px;
  -webkit-animation: spin 15s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 15s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
